body{
  margin: 0;
  padding: 0;
}

*{
  font-family: 'math';
}
 
.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline{
  border:none !important;
  background-color: #dedede36 !important;
}